<% include style_script %>
<!-- 内容主体区域 -->
<div style="margin:12px 12px 8px 12px;">
	<table class="layui-hide" id="TableOne" lay-filter="TableOne"></table>
</div>

<style>
	.layui-table-cell{
		height: auto!important;
	}
	.costumeImage{ 
		height: 68px !important;
		white-space: normal;
	}
</style>
<script type="text/html" id="imgTemp">
	<img class="costumeImage" src="/material/asset/{{d.md5ext}}">
</script>

<script type="text/html" id="TableOne_bar">
	<div class="layui-btn-container">
		<button class="layui-btn layui-btn-sm layui-btn-danger" onclick="AddSpriteCostume()">添加造型</button>
		<span class="layui-btn layui-btn-sm layui-btn-primary layui-btn-disabled" >说明：一个角色，最少必有一个造型</span>
	</div>
	</script>
	<script type="text/html" id="TableOne_tool">
		{{#  if(d.len > 1){ }}
		<span class="layui-btn layui-btn-xs layui-btn-danger" lay-event="DelSpriteCostume">移除此造型</span>
		{{#  } }}
	</script>
</body>

<script>_id='<%= _id%>';</script>
<script type="text/javascript" src="<%= process.env.staticurl %>/js/admin/material_sprite_costume.js"></script>
</html>