
<script type="text/javascript" src="<%= global.config.urls.static %>/layui/layui.all.js"></script>
<script type="text/javascript" src="<%= global.config.urls.static %>/layui/jquery.min.js"></script>
  <link rel="stylesheet" href="<%= global.config.urls.static %>/layui/css/layui.css">
<!-- 内容主体区域 -->
<div style="margin:12px 12px 8px 12px;">
    <table class="layui-hide" id="TableOne" lay-filter="TableOne"></table>
</div>

<script type="text/html" id="TableOne_bar">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="search_state0">所有未发布作品</button>
    <button class="layui-btn layui-btn-sm" lay-event="search_state1">所有发布作品</button>
    <button class="layui-btn layui-btn-sm" lay-event="search_state2">所有精选作品</button>
    <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="search_display_name">搜索作者昵称</button>
    <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="search_workname">搜索作品名</button>
  </div>
  </script>
<script type="text/html" id="timeTemp">
	<div>{{new Date(d.time).toLocaleString()}}</div>
</script>
<script type="text/html" id="TableOne_tool">
  <a href="/python/edit#{{d.id}}" target="_blank" class="layui-btn layui-btn-xs">作品预览</a>
  <a class="layui-btn layui-btn-xs" lay-event="changeTitle">修改作品名</a>
  {{#  if(d.state > 0){ }}
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="setState0">取消发布</a>
    {{#  if(d.state === 1){ }}
      <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="setState2">推荐</a>
    {{#  } else if(d.state === 2) { }}
      <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="setState1">取消推荐</a>
    {{#  } }}
  {{#  } else { }}
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="setState1">发布作品</a>
    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="setState2">推荐</a>
  {{#  } }}
  <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="setDefaultWork">复制为默认作品</a>
</script>
</body>

<script type="text/javascript" src="<%= global.config.urls.static %>/js/admin/works_python.js"></script>
</html>