
<script type="text/javascript" src="<%= process.env.staticurl %>/layui/layui.all.js"></script>
<script type="text/javascript" src="<%= process.env.staticurl %>/layui/jquery.min.js"></script>
  <link rel="stylesheet" href="<%= process.env.staticurl %>/layui/css/layui.css">	
<!-- 内容主体区域 -->
<div style="margin:12px 12px 8px 12px;">
    <table class="layui-hide" id="TableOne" lay-filter="TableOne"></table>
</div>

<script type="text/html" id="TableOne_bar">
<div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="getZC">正常用户</button>
    <button class="layui-btn layui-btn-sm" lay-event="getFH">被封号的用户</button>
    <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="search">查找用户</button>
    <button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="new">创建新用户（默认密码：用户账号后6位）</button>
    <button class="layui-btn layui-btn-sm layui-btn-primary" onclick="new100()">批量生成账号</button>
    <button id="registBtn" class="layui-btn layui-btn-sm layui-btn-danger" lay-event="regist">
        <% if (regist == 1) { %>关闭<% } else { %>开启<% } %>注册通道 
    </button>
</div>
</script>
<script type="text/html" id="tyTpl">
	<span class="layui-btn layui-btn-xs layui-btn-primary">查看</span>
</script>
<script type="text/html" id="TableOne_tool">
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="setpassword">密码重置</a>

	{{#  if(d.state === 0){ }}
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="fh">封号</a>
	{{#  } else if(d.state === 2) { }}
    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="jf">解封</a>
	{{#  } }}
</script>
</body>
<script type="text/javascript" src="<%= process.env.staticurl %>/js/admin/user.js"></script>
</html>