<%- include('../html-head.ejs', {pageTitle: 'Scratch镜像'}); %>

            <h2 class="mdui-typo-display-1">
                公益Scratch桌面版镜像
            </h2>
            <p class="mt-2 font-weight-bold">
                该版本镜像于 <span id="release-date">加载中</span>，Scratch 版本为 <span id="scratch-version">加载中</span>。
            </p>
       
            <mdui-button href="#" id="windows-download-btn">Windows 下载</mdui-button>
            <mdui-button href="#" id="macos-download-btn">MacOS 下载</mdui-button>

            <br /><br />
            <mdui-button href="https://asdm.wuyuan.dev/">一直加载中？无法下载？</mdui-button>

            <%- include('../html-footer.ejs', {page: 'mirror'}); %>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var releaseDate = document.getElementById('release-date');
        var scratchVersion = document.getElementById('scratch-version');
        var windowsDownloadBtn = document.getElementById('windows-download-btn');
        var macosDownloadBtn = document.getElementById('macos-download-btn');

        axios.get('https://api.github.com/repos/ZeroCatOrg/AutoScratchDesktopMirror/releases/latest')
            .then(function (response) {
                var data = response.data;
                var windowsAsset = data.assets.find(function (asset) {
                    return asset.name === 'scratch-win.exe';
                });
                var macosAsset = data.assets.find(function (asset) {
                    return asset.name === 'scratch-mac.dmg';
                });

                releaseDate.textContent = new Date(data.published_at).toLocaleString();
                scratchVersion.textContent = JSON.parse(data.body).scratch_version;

                if (windowsAsset) {
                    windowsDownloadBtn.href = windowsAsset.browser_download_url;
                    windowsDownloadBtn.classList.remove('disabled');
                }

                if (macosAsset) {
                    macosDownloadBtn.href = macosAsset.browser_download_url;
                    macosDownloadBtn.classList.remove('disabled');
                }
            })
            .catch(function (error) {
                console.log(error);
            });
    });
</script>

