#网站信息
siteneme='' #网站名称
slogan='' #网站标语
sitedomain='' #网站域名，不需要https://开头与/结尾
privacypolicyurl='' #隐私政策链接
termsofserviceurl='' #服务条款链接
adminemail='' #网站联系邮箱

#recaptcha
rekey='' #谷歌验证码key
resecret='' #谷歌验证码secret

#高级设置,可以兼容理论上所有兼容recaptcha的验证码,如非需要不需修改
reurl='https://www.recaptcha.net/recaptcha/api.js'
reclass='g-recaptcha'
reverify='https://www.recaptcha.net/recaptcha/api/siteverify'

#兼容hcaptcha示例
# reurl='https://js.hcaptcha.com/1/api.js'
# reclass='h-captcha'
# reverify='https://api.hcaptcha.com/siteverify'

#邮箱
#所有支持的服务商可以在此找到https://github.com/nodemailer/nodemailer/blob/master/lib/well-known/services.json
mailservice='' #例如qq,163,126等
mailuser='' #发送邮件的邮箱
mailpass='' #邮箱密码或授权码
mailfrom='' #发件人名称

#安全
adminuser='' #管理员账号(邮箱)
jwttoken='' #JWT加密密钥
SessionSecret='' #Session加密密钥

#mysql
mysqlhost='' #数据库主机
mysqlport='' #数据库端口
mysqluser='' #数据库用户名
mysqlpassword='' #数据库密码
mysqldatabase='' #数据库名称

#七牛
qiniuaccessKey='' #七牛云accessKey
qiniusecretKey='' #七牛云secretKey
qiniuurl='' #七牛云空间域名(带协议[必须是https://],不带末尾/,例如:https://example.com)
qiniubucket=''

#Axiom日志流
AXIOM_DATASET=''
AXIOM_TOKEN=''

#Cors配置
corslist=['',''] #允许跨域请求的域名列表

#评论区配置
WalineServerURL='' #waline的服务器链接

#兔小巢配置
txcid=''
txckey=''

#前端静态文件地址，无法全部修改，请使用替换
staticurl='https://registry.npmmirror.com/ourworldstaticfile/latest/files'