=
SiteName=
SiteSlogan=
SiteDomain=
SitePrivacyPolicy=
SiteTermsofService=
SiteFeedbackEmail=
#recaptcha 测试环境数据，始终返回成功，请勿在生产环境使用
#rekey='0x4AAAAAAAHW417G1zlyXZhW'
#resecret='0x4AAAAAAAHW46pUIOHkBAtxriTbQONaHT8'
rekey=
resecret=
#高级设置,可以兼容理论上所有兼容recaptcha的验证码,如非需要不需修改
reurl=
reverify=
=
#兼容hcaptcha示例
# reurl='https://challenges.cloudflare.com/turnstile/v0/api.js'
# reverify='https://challenges.cloudflare.com/turnstile/v0/siteverify'
=
#邮箱 生产环境，给俺小心点
mailservice=
mailuser=
mailpass=
mailfrom=
=
=
#安全 生产环境，给俺小心点
adminuser=
jwttoken=
SessionSecret=
2FA_SECRET=
2FA_ISSUER=
2FA_WINDOW=
2FA_DIGITS=
2FA_ALGORITHM=
2FA_PERIOD=
2FA_TOTP_SECRET=
2FA_TOTP_WINDOW=
2FA_TOTP_DIGITS=
2FA_TOTP_ALGORITHM=
2FA_TOTP_PERIOD=
2FA_TOTP_STEP=
2FA_TOTP_KEY=
2FA_TOTP_ISSUER=
2FA_TOTP_LABEL=
2FA_TOTP_QR_CODE_URL=
2FA_TOTP_QR_CODE_SIZE=
2FA_TOTP_QR_CODE_MARGIN=
2FA_TOTP_QR_CODE_ERROR_CORRECTION_LEVEL=
2FA_TOTP_QR_CODE_FORMAT=
2FA_TOTP_QR_CODE_LOGO_URL=
2FA_TOTP_QR_CODE_LOGO_WIDTH=
2FA_TOTP_QR_CODE_LOGO_HEIGHT=
2FA_TOTP_QR_CODE_LOGO_MARGIN=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_COLOR=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_TRANSPARENT=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_COLOR=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_LEVEL=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR=
2FA_TOTP_QR_CODE_LOGO_BACKGROUND_OPACITY_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT_COLOR_TRANSPARENT
