<%- include('html-head.ejs', {pageTitle: '关于' }); %>
<div><br/>
	<iframe
frameborder="0"
id="webdialogiframe"
src="http://localhost:5500/1.html"
style="height: 90vh;width: 100%;border-radius: 15px;box-shadow:0 0 10px #000;"
>
<p>
<a href="https://developer.mozilla.org/zh-CN/docs/Glossary">
此设备无法使用此功能
</a>
</p>
</iframe>
	
	<%- include('./html-footer.ejs', {page: 'about' }); %>