<%- include('html-head.ejs', {pageTitle: '关于' }); %>
<div>也许某天会想到这里些什么</div>
	<!--<iframe
frameborder="0"
id="webdialogiframe"
src="https://1111111111/ourworld/ourworldabout.html"
style="height: 90vh;width: 100%;border-radius: 15px;box-shadow:0 0 10px #000;"
>
<p>
此浏览器无法使用此功能，这说明您正在使用一个上世纪的浏览器，此浏览器无法正常访问 任何 网站
</p>

</p>
</iframe>-->

	<%- include('./html-footer.ejs', {page: 'about' }); %>