<%- include('html-head.ejs', {pageTitle: '关于' }); %>
<div><br/>
	<iframe
frameborder="0"
id="webdialogiframe"
src="https://b2.190823.xyz/ourworld/ourworldabout.html"
style="height: 90vh;width: 100%;border-radius: 15px;box-shadow:0 0 10px #000;"
>
<p>

此设备无法使用此功能

</p>
</iframe>
	
	<%- include('./html-footer.ejs', {page: 'about' }); %>