<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
     <title>登录认证 - <%= process.env.sitename %>
     </title>
<% include linkfile.ejs %></head>

<body>
     <script> window.location.replace('/user/walinelogin') </script>
</body>

</html>