<%- include('../html-head.ejs', {pageTitle: 'Scratch'}); %>

			<div class="mdui-row">
				<h1>Scratch</h1><!--<div class="mdui-typo-title">最新项目</div>-->
				<br />
				<mdui-text-field variant="filled" label="搜索" placeholder='键入以搜索' id='scratch_search_txt' clearable>
					<mdui-button-icon slot="icon" icon="search"></mdui-button-icon>
				</mdui-text-field>
				<div style="padding-top: 10px;">
					<mdui-button icon="search" onclick="Scratch_Search()">搜索</mdui-button> <mdui-checkbox
						id="search_src">内容搜索</mdui-checkbox>
				</div>



				<div id="scratch_box">
					<mdui-tabs value="new" id="scratch_type">
						<mdui-tab value="new" icon="fiber_new" onclick="Scratch('new');scratch_type='new'">最新</mdui-tab>
						<mdui-tab value="hot" icon="whatshot" onclick="Scratch('hot');scratch_type='hot'">最热</mdui-tab>
					</mdui-tabs>

					<div class="mdui-row" id="scratch_projects"></div>
					<div style="display:flex; justify-content:center;">
						<div id="scratch_change_page"></div>
					</div>
				</div>

			</div>

			<%- include('../html-footer.ejs', {page: 'scratch'}); %>


<script src="<%= global.config.urls.static %>/page/scratch/projects.js"></script>

